@import "font.css";

*
{
	padding: 0;
	margin: 0;
}


@font-face {
  font-family: 'Museo Normal';
  src: url('../fonts/MUSEO500-REGULAR.OTF');
}

@font-face {
  font-family: 'Museo Bold';
  src: url('../fonts/Museo700-Regular.otf');
}

@font-face { font-family: 'Maven Regular';	src: url('../fonts/Maven Pro Regular.otf'); }
@font-face { font-family: 'Maven Medium'; 	src: url('../fonts/Maven Pro Medium.otf'); }
@font-face { font-family: 'Maven Bold'; 	src: url('../fonts/Maven Pro Bold.otf'); padding: 0px;}
@font-face { font-family: 'Maven Black'; 	src: url('../fonts/Maven Pro Black.otf'); }

/*
#539650
#cbdd5b
#eeffbc
#d9644f
#5c4451
*/

@dark_green 		: #539650;
@dark_green_5 		: darken(@dark_green, 5%);
@dark_green_10 		: darken(@dark_green, 10%);
@dark_green_15 		: darken(@dark_green, 15%);
@dark_green_25 		: darken(@dark_green, 25%);
@dark_green_5_r		: lighten(@dark_green, 5%);
@dark_green_10_r	: lighten(@dark_green, 10%);
@dark_green_15_r	: lighten(@dark_green, 15%);

@light_green		: #cbdd5b;
@light_green_5		: darken(@light_green, 5%);
@light_green_10		: darken(@light_green, 10%);
@light_green_15		: darken(@light_green, 15%);
@light_green_25		: darken(@light_green, 25%);
@light_green_5_r	: lighten(@light_green, 5%);
@light_green_10_r	: lighten(@light_green, 10%);
@light_green_15_r	: lighten(@light_green, 15%);

@white				: #eeffbc;
@white_5			: darken(@white, 5%);
@white_10			: darken(@white, 10%);
@white_15			: darken(@white, 15%);
@white_5_r			: lighten(@white, 5%);
@white_10_r			: lighten(@white, 10%);
@white_15_r			: lighten(@white, 15%);

@light_violet		: #d9644f;
@light_violet_5		: darken(@light_violet, 5%);
@light_violet_10	: darken(@light_violet, 10%);
@light_violet_15	: darken(@light_violet, 15%);
@light_violet_25	: darken(@light_violet, 25%);
@light_violet_5_r	: lighten(@light_violet, 5%);
@light_violet_10_r	: lighten(@light_violet, 10%);
@light_violet_15_r	: lighten(@light_violet, 15%);

@dark_violet		: #5c4451;
@dark_violet_5		: darken(@dark_violet, 5%);
@dark_violet_10		: darken(@dark_violet, 10%);
@dark_violet_15		: darken(@dark_violet, 15%);
@dark_violet_5_r	: lighten(@dark_violet, 5%);
@dark_violet_10_r	: lighten(@dark_violet, 10%);
@dark_violet_15_r	: lighten(@dark_violet, 15%);

body
{
	/*background: url('assets/images/bg.png');*/
	background-color: @white;
	font-family: Maven Regular;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
}
/* !!!!!!!!!!!!!!!! GLOBAL CONFIGURATION !!!!!!!!!!!!!!!! */

header, section#content, section#hero, footer
{
	height: auto;
}

.left{float: left;}
.right{float: right;}

.container
{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

a
{
	text-decoration: none;
	color: black;
}

a.link
{
	color: #0089E1;
	text-decoration: underline;
}

a.link:hover
{
	color: #222;
	text-decoration: underline;
}

nav ul li
{
	list-style-type: none;
}
nav.inline ul li
{
	display: inline;
}

.button
{
	border: 1px solid @light_green_15;
	cursor: pointer;
	border-radius: 5px;
	color: @dark_green;
	background-color: @light_green;
	padding: 10px;
}

.button:hover
{
	background-color: @light_green_15;
	color: @dark_green_15;
	/*border: 1px solid #037FC9;*/
}

input[type="text"]
{
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 10px 5px 10px;
	font-family: Maven Regular;
	color: #999;
	outline: none;
	background-color: @white
}

input[type="text"]:hover
{
	border: 1px solid #777;
}

input[type="text"]:focus
{
	color: @dark_green_10_r;
	border: 1px solid @dark_green_15;
	box-shadow: 0 0 7px @light_green;
}

.hidden
{
	display: none
}

/* GLOBAL CONFIGURATION */


/* ********************* HEADER ********************* */

	header
	{
		/*background-color: #0089E1;*/
		background-color: @dark_green;
		border-top: 5px solid @dark_green_10;
		/*box-shadow: inset 0 -1px 3px #006196, 0 2px 5px #aaa;*/
	}

		header .container
		{
			min-height: 100px;
		}

			header .container img.logo
			{
				width: 200px;
				position: absolute;
				top: 20px;
			}

			header .container nav.login
			{
				position: absolute;
				right: 0px;
				top: 40px;
				font-family: Maven Bold;
				font-weight: bold;
				font-size: 14px;
			}

				header .container nav.login ul li a
				{
					color: @light_green_10;
					margin-left: 20px;
					text-shadow: 0px 2px @dark_green_15;
				}

				header .container nav.login ul li a:hover
				{
					text-shadow: 0px 2px @dark_green_15;
				}

nav#primary_menu
{
	height: 50px;
	/*background: #00619e;*/
	background: @light_green;
	/*background-image: url('assets/images/bg.png');*/
	
	/*background: url('assets/images/bg.png');*/

	/*box-shadow: inset 0 2px 5px #003d63, 0px 2px 2px white*/
}

nav#primary_menu ul
{
	/*background-color: red;*/
	height: 35px;
	padding-top: 16px;
}

nav#primary_menu ul.left li a
{
	margin-right: 20px;
	font-family: Maven Bold;
	color: @light_green_25;
	text-shadow: 0px 1px 0px @light_green_15_r;
}

nav#primary_menu ul li a:hover
{
	color: @dark_green;
}

nav#primary_menu ul li a.active
{
	color: white;
	text-shadow: 0px 2px 0px @light_green_15;
}

nav#primary_menu ul.right li a
{
	/*padding: 8px 10px 5px 10px;*/
	/*background-color: orange;*/
	margin: 0;
	color: white;
	font-family: Maven Black;
	text-shadow: 0px 2px 0px black;
}

nav#primary_menu ul.right li a:hover
{
	text-shadow: 0px 0px 10px white, 0px 2px 0px black;
}

/* SECTION HERO */

	section#hero
	{
		background-color: #0089E1;
		font-family: 'Museo';
		color: white;
		font-size: 30px;
		/*box-shadow: inset 0 1px 2px #7fc4f0;*/
		display: none;
	}

		section#hero .container
		{
			min-height: 400px;
		}

/* SECTION CONTENT */

	section#content
	{
		margin: 20px 0 20px 0;
	}

		section#content .container
		{
			background-color: @dark_green;
			/*min-height: 500px;*/
			border: 1px solid @white_15;
			border-radius: 5px;
			overflow: auto;
			/*background: url('assets/images/bg2.png');*/
			/*box-shadow: 0px 0px 10px @light_green_5*/
		}

			section#content .container #mainbar
			{
				width: 709px;
				min-height: 300px;
				/*background-color: #DDD;*/
				float: right;
				/*border-left: 1px solid #d1d1d1;*/
				background-color: @white_10_r;
				border-radius: 0 5px 5px 0;
				padding-top: 20px;
				/*background-color: blue*/

			}

			section#content .container #mainbar.full_width
			{
				width: 960px;
				border-radius: 5px
			}

				section#content .container #mainbar h1.title
				{
					display: block;
					background: @light_green;
					color: @light_green_25;
					padding: 15px 0 10px 20px;
					font-family: Maven Bold;
					border-top: 1px solid @light_green_15;
					border-bottom: 1px solid @light_green_15;
					text-shadow: 0px 2px 0px @light_green_15_r;
					/*background: url('assets/images/bg2.png');*/
					box-shadow: inset 0 2px 2px @light_green_10, inset 0 -2px 2px @light_green_10;
				}

				section#content .container #mainbar #main_content
				{
					/*background-color: red;*/
					/*margin-top: 20px;*/
					padding: 20px;
				}

				section#content .container #mainbar #main_content #video_desc
				{
					padding: 20px;
					background: url('assets/images/bg2.png');
					border: 1px solid #d1d1d1;
					margin: 10px 0 10px 0;
					color: #777;
					line-height: 24px
				}

				section#content .container #mainbar #main_content #video_desc b
				{
					color: black;
				}

				section#content .container #mainbar #main_content #video_desc b
				{
					color: black;
				}

				section#content .container #mainbar #main_content #video_desc code
				{
					background: #222;
					color: white;
					display: block;
					padding: 10px;
					margin: 10px 0 10px 0;
					font-family: "Monaco";
					font-size: 12px;
				}
					section#content .container #mainbar #main_content input[type="text"]
					{
						width: 300px;
						display: block;
						margin-bottom: 20px;
						height: 40px;
						font-size: 16px;
					}

					section#content .container #mainbar #main_content input[type="submit"]
					{
						font-family: Maven Bold;
						padding-bottom: 5px;
						background-color: orange;
						color: white;
						/*border: 1px solid maroon;*/
						border: none;
					}

					section#content .container #mainbar #main_content input[type="submit"]:hover
					{
						background-color: #0089E1
					}

					section#content .container #mainbar #main_content .video_thumb
					{
						/*padding: 10px;*/
						border: 1px solid #d1d1d1;
						height: 120px;
						width: 100px;
						position: relative;
						float: left;
						margin-right: 20px;
						margin-bottom: 20px;
						/*box-shadow: 0px 0px 10px #ccc;*/
					}

					section#content .container #mainbar #main_content .video_thumb:hover
					{
						border: 1px solid #999;
					}
						section#content .container #mainbar #main_content .video_thumb img
						{
							background-color: #eee;
							height: 90px;
							width: 90px;
							position: absolute;
							top: 5px;
							left: 5px;
							border: none;
						}

						section#content .container #mainbar #main_content .video_thumb h3
						{
							position: absolute;
							top: 100px;
							left: 5px;
							display: block;
							/*text-align: center;*/
							/*background-color: red;*/
							width: 90px;
							font-family: Maven Medium;
							font-size: 12px;
							color: #888;
							overflow: hidden
						}


			section#content .container #sidebar
			{
				width: 210px;
				/*min-height: 460px;*/
				/*background-color: #DDD;*/
				/*height: 100%;*/
				float: left;
				/*border-left: 1px solid #d1d1d1;*/
				padding: 20px;
				text-shadow: 0 0 1px rgba(0,0,0,0.3);
			}
				
				

				section#content .container #sidebar input
				{
					width: 100%;
				}

				section#content .container #sidebar a.button
				{
					/*width: 100%;*/
					/*padding: 5px 10px;*/
					
					margin-bottom: 5px;
					display: block;
					height: 10px;	
					font-size: 13px;
				}
				
				section#content .container #sidebar a .left
				{
					float: left;
				}

				section#content .container #sidebar a .right
				{
					float: right;
				}



/* FOOTER */

	footer#first
	{
		/*background-color: #007cc3;*/
		background-color: @light_violet;
		/*box-shadow: inset 0 -3px 5px #006196, inset 0 3px 4px #006196*/
	}

		footer#first .container
		{
			/*min-height: 300px;*/
			overflow: auto;
			padding: 20px 0 20px 0;
		}


			footer#first .container #link
			{
				float: left;
				/*background: blue;*/
				/*height: 300px;*/
				width: 50%;
			}

				footer#first .container #link nav
				{
					width: 160px;
					/*background-color: green;*/
					float: left;
				}

					footer#first .container #link nav ul li a
					{
						line-height: 25px;
						font-size: 15px;
						color: @light_violet_15;
						text-shadow: 0px 1px 0px @light_violet_10_r;
						font-family: Maven Bold;
					}

					footer#first .container #link nav ul li a:hover
					{
						color: @light_violet_25;
					}

					footer#first .container #link nav ul li a.title
					{
						display: block;
						margin-bottom: 5px;
						color: @light_violet_25;
						/*opacity: 1.0;*/
						/*color: @light_violet_15_r;*/
						/*color: white;*/
						font-family: Maven Bold;
					}

			footer#first .container #other
			{
				float: left;
				/*background: red;*/
				/*height: 300px;*/
				width: 50%;
			}

	footer#second
	{
		/*background-color: #0089E1;*/
		background-color: @dark_violet;
		box-shadow: inset 0 1px 1px @light_violet_15;
	}

		footer#second .container
		{
			/*height: 50px;*/
			padding: 10px 0 10px 0;
			position: relative;
		}

		footer#second .container img
		{
			height: 30px;
			opacity: 0.2;
		}

		footer#second .container span.copyright
		{
			position: absolute;
			left: 130px;
			top: 20px;
			font-size: 12px;
			/*opacity: 0.5;*/
			color: @dark_violet_15_r;
			text-shadow: 1px 1px 0px @dark_violet_10;
		}


